* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo {
    height: 50px;
    width: fit-content;
    flex-grow: 1;
}


.middle {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    height: 50px;
}

.item {
    display: flex;
    justify-content: center;
    background-color:#5e5b5b;
    color: white;
    flex-grow: inherit;
    text-decoration: none;
    align-items: center;
}

a:hover {
    background-color:#54be90;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/fern-5298586_1920.jpg");
    background-size: cover;
    height: 80vh;
}

.central_text {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

 .central_text h1, h2 {
        color: white;
        text-align: center;
        font-size: 50px;
}

.central_text span {
    color: #54be90;
    text-decoration: underline white;
}


.mission {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.text_mission {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;

}

.text_mission h3 {
    font-size: 25px;
    color:black;
}

.text_mission span {
    font-size: 25px;
    font-weight: bold;
    color: gray;
}

.description_flow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    padding-bottom: 3px;
    background-color: black;
}
.description_flow_first {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 2px solid green;
    padding-bottom: 3px;
}

.description_flow_second_level {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 3px;
    align-items: center;
}

.description_flow_third_level {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.description_flow_third_level p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.description_flow_second_level h2 {
    color: #54be90;
    text-align: center;
    padding-bottom: 10px;
}

.circle {
    position: relative;
    bottom: 55px;
    width: 70px;
    height: 70px;
    margin: 20px;
    clip-path: circle();
    background: white;
}









